---
http_interactions:
- request:
    method: get
    uri: https://www.moogleapi.com/api/v1/games/9fc1c377-95f1-4a09-399f-08d6b0a627a3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"gameId":"9fc1c377-95f1-4a09-399f-08d6b0a627a3","title":"Final Fantasy
        07","picture":"https://jackfperryjr.github.io/moogleapi-images/logos/ff07.jpg","platform":"Sony
        Playstation","releaseDate":"January 31, 1997","description":"The seventh main
        installment in the Final Fantasy series. Published in Japan by Square, it
        was released in other regions by Sony Computer Entertainment, and became the
        first in the main series to see a PAL release. The game''s story follows Cloud
        Strife, a mercenary who joins an eco-terrorist organization to stop a world-controlling
        mega-corporation from using the planet''s life essence as an energy source.
        Events send Cloud and his allies in purs[...]
