---
http_interactions:
- request:
    method: get
    uri: https://www.moogleapi.com/api/v1/characters/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"8fdd0a98-5533-4550-fa67-08d850052414","name":"Cerius","japaneseName":null,"age":"??","gender":"Female","race":"Human","job":"Green
        Mage","height":"??","weight":"??","origin":"Final Fantasy BE","description":"A
        green mage born in a certain country which sought to produce mages for the
        sole purpose of aiding others in battle. Cerius was an orphan trained exclusively
        in magic by the state, which led her to grow a bit indifferent towards people.
        However, she was always keenly aware of her surroundings and thus managed
        to retain her empathy, unlike her desensitized fellow green mages. She later
        fled the country, but no records of her reasons behind this act remain.","pictures":[{"id":"cf66b57c-a3c1-4149-8b83-08d850052b8b","url":"https://mooglestorage.blob.core.windows.net/images/cf66b57c-a3c1-4149-8b83-08d850052b8b.jpg","primary":1,"collectionId":"8fdd0a98-5533-4550-fa67-08d850052414"}],"stats":[]}'
  recorded_at: Tue, 28 Dec 2021 23:09:24 GMT
recorded_with: VCR 6.0.0
